---
import BlogCard from "@/components/BlogCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const { blog_folder } = config.settings;
const postIndex = await getEntryBySlug<any, string>(blog_folder, "-index");
const posts = await getSinglePage(blog_folder);
const sortedPosts = sortByDate(posts);
const totalPages: number = Math.ceil(posts.length / config.settings.pagination);
const currentPosts = sortedPosts.slice(0, config.settings.pagination);
---

<Base
  title={postIndex.data.title}
  meta_title={postIndex.data.meta_title}
  image={postIndex.data.image}
  description={postIndex.data.description}
>
  <PageHeader title={postIndex.data.title} />
  <section
    class="section-md relative mt-[-28rem] overflow-hidden md:mt-[-32rem]"
  >
    <div class="container relative z-30">
      <div class="row gy-4">
        {currentPosts.map((post) => <BlogCard data={post} />)}
      </div>
      <Pagination
        totalPages={totalPages}
        currentPage={1}
        section={blog_folder}
      />
    </div>

    <!-- Start Bg Shape -->
    <div class="pointer-events-none absolute left-0 top-[40%] select-none">
      <img
        class="inject-svg text-quaternary"
        src="/images/shapes/blog-list-s-1.svg"
        alt="shape"
      />
    </div>
    <div
      class="pointer-events-none absolute bottom-[20%] right-[-6%] select-none"
    >
      <img
        class="inject-svg text-quinary"
        src="/images/shapes/team-member-s-2.svg"
        alt="shape"
      />
    </div>
  </section>
</Base>
